<section class="route">
  <h4><%= t(:route, scope: :apitome) %></h4>
  <pre>
    <%= "#{request["request_method"]}" %>
    <span class="hljs-attribute">Host</span>
    : labguru.com
  </pre>
<!--   <pre><%#= "#{request["request_method"]} #{request["request_path"]}" %></pre> -->
</section>
